@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  background-image: url("/images/helmet.jpg");
  background-size: cover;
}

.join-section {
  background-image: url("/images/camera.jpg");
  background-size: cover;
}
